<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Serverless Flask</title>
    <style lang="css">
      h1 {
        text-align: center;
        width: 600px;
        margin: 300px auto;
      }
    </style>
  </head>
  <body>
    <h1>
      Welcome to Flask application
      <br />
      The SSR app is hosted on
      <a href="https://cloud.tencent.com/product/ssr" target="_blank" rel="noopener noreferrer">
        Serverless SSR
      </a>
    </h1>
  </body>
</html>
